@font-face {
  font-family: iransans-regular;
  src: url(../fonts/iransans-regular.woff);
}
@font-face {
  font-family: iransans-bold;
  src: url(../fonts/iransans-bold.woff);
}
@font-face {
  font-family: iransans-black;
  src: url(../fonts/iransans-black.woff);
}
